{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <img src="{{ url_for('static', filename='images/index.jfif') }}" class="rounded img-fluid">
        </div>
        <div class="col-md-4 align-self-center">
            <h1>Web system</h1>
            <h2>For homework management</h2>
            <p>Make the homework management easier.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('auth.register') }}">Join Now</a></p>
        </div>
    </div>
</div>
{% endblock %}
