{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <img src="{{ url_for('static', filename='images/index.jfif') }}" class="rounded img-fluid">
        </div>
        <div class="col-md-4 align-self-center">
            <h1>Web system</h1>
            <h2>For homework management</h2>
            <p>Make the homework management easier.</p>
            <hr />
            <h5>Please select your account type:</h5>
            <a class="btn btn-primary" href="{{ url_for('student.index_student') }}">Student</a>
            <a class="btn btn-primary" href="{{ url_for('assistant.index_assistant') }}">Assistant</a>
            <a class="btn btn-primary" href="{{ url_for('lecturer.index_lecturer') }}">Lecturer</a>
        </div>
    </div>
</div>
{% endblock %}
