{% extends 'lecturer/base.html' %}
{% from 'macros.html' import student_card with context %}
{% from 'macros.html' import student_check_card with context %}

{% block title %}检查 - {{ homework.title }} - 讲师{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h3>{{ homework.title }}:</h3>
            <p>{{ homework.description | safe }}</p>
            <h5><span class="oi oi-calendar"></span>
                {{ moment(homework.timestamp).format('LL') }}
                - {{ moment(homework.deadline).format('LL') }}
            </h5>
            <hr/>
            <h3>提交情况：</h3>
            <p><span class="oi oi-task"></span> 已提交人数 / 总人数： {{ submitted_number }}
                / {{ students.count() }}</p>
            <p><span class="oi oi-x"></span> 未提交学生：</p>
            <div class="card bg-light">
                <div class="card-body">
                    {% for student in students %}
                        {% if not student.is_submitted(homework=homework) %}
                            {{ student_card(student=student) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <hr/>
            <h3>完成情况：</h3>
            <p>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                A :
            </p>
            <div class="card bg-light">
                <div class="card-body">
                    {% for student in students %}
                        {% if student.is_submitted(homework=homework) %}
                            {% if answers.filter_by(student=student).first().is_a() %}
                                {{ student_check_card(homework=homework,course=course,student=student) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <br/>
            <p>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                B :
            </p>
            <div class="card bg-light">
                <div class="card-body">
                    {% for student in students %}
                        {% if student.is_submitted(homework=homework) %}
                            {% if answers.filter_by(student=student).first().is_b() %}
                                {{ student_check_card(homework=homework,course=course,student=student) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <br/>
            <p>
                <span class="oi oi-star"></span>
                C :
            </p>
            <div class="card bg-light">
                <div class="card-body">
                    {% for student in students %}
                        {% if student.is_submitted(homework=homework) %}
                            {% if answers.filter_by(student=student).first().is_c() %}
                                {{ student_check_card(homework=homework,course=course,student=student) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <br/>
            <p>
                <span class="oi oi-arrow-bottom"></span>
                D :
            </p>
            <div class="card bg-light">
                <div class="card-body">
                    {% for student in students %}
                        {% if student.is_submitted(homework=homework) %}
                            {% if answers.filter_by(student=student).first().is_d() %}
                                {{ student_check_card(homework=homework,course=course,student=student) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}