{% extends 'lecturer/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}选择课程 - 讲师{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card mb-3 w-100 bg-light">
                <div class="card-header">
                    <h4>请选择你的课程：</h4>
                    <p>(课程名称 - 课程介绍)</p>
                </div>
                {% for course in courses %}
                    <div class="card-body">
                        <a class="dead-link"
                           href="{{ url_for('lecturer.view_homework', course_name=course.name) }}">
                            <img src="{{ url_for('lecturer.get_avatar', filename=course.avatar_s) }}">
                            {{ course.name }} - {{ course.intro }}
                        </a>
                    </div>
                    <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

