{% extends 'lecturer/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}查看 - {{ course.name }} - 讲师{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <a>
                <img src="{{ url_for('lecturer.get_avatar', filename=course.avatar_l) }}" class="rounded img-fluid">
            </a>
        </div>
        <div class="col-md-9">
            <h1>{{ course.name }}</h1>
            <h4><small class="text-muted">{{ course.intro }}</small></h4>
            <div class="float-right">
                <a class="btn btn-outline-dark btn-group-sm"
                   href="{{ url_for('lecturer.edit_course',course_name=course.name ) }}">管理信息
                </a>
                <a class="btn btn-outline-dark btn-group-sm"
                   href="{{ url_for('lecturer.change_picture',course_name=course.name ) }}">修改图片
                </a>
                <form class="inline" method="post"
                      action="{{ url_for('lecturer.end_course', course_name=course.name, next=request.full_path) }}">
                    <button type="submit" class="btn btn-danger btn-group-sm">结课</button>
                </form>
            </div>
        </div>
    </div>

    <div class="user-nav">
        <ul class="nav nav-tabs">
            {{ render_nav_item('lecturer.show_students', '学生', course_name=course.name) }}
            {{ render_nav_item('lecturer.show_assistants', '助教', course_name=course.name) }}
        </ul>
        <div class="row">
            <div class="col-md-12">
                {% block view_content %}{% endblock %}
            </div>
        </div>
        {% block pagination_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='jcrop/js/jquery.Jcrop.min.js') }}"></script>
    {{ avatars.init_jcrop() }}
{% endblock %}

