{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Assistant{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='images/assistant_reg.jfif') }}" class="rounded img-fluid">
            </div>
            <div class="col-md-4">
                <div class="card mb-3 w-100 bg-light">
                    <div class="card-header">
                        <h4>Welcome to use!</h4>
                    </div>
                    <div class="card-body">
                        <div class="navbar-nav ml-auto">
                            <a class="btn btn-primary" href="{{ url_for('.register_assistant') }}">Join Now</a>
                        </div>
                        <hr>
                        <small>Already have an account? <a href="{{ url_for('.login_assistant') }}">Click here to log in.</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}