{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}学生 - 注册{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h3>学生们可以使用本系统完成：</h3>
                <p><span class="oi oi-check"></span> 查看作业列表</p>
                <p><span class="oi oi-cloud-upload"></span> 提交你的作业答案</p>
                <p><span class="oi oi-circle-check"></span> 查看你的作业批改结果</p>
                <hr />
                <p><span class="oi oi-warning"></span> 注：你的ID必须以S开头，后接9位数字</p>
                <img src="{{ url_for('static', filename='images/student_reg.jpg') }}" class="rounded img-fluid">
            </div>
            <div class="col-md-4">
                <div class="card mb-3 w-100 bg-light">
                    <div class="card-header">
                        <h4>学生账户</h4>
                    </div>
                    <div class="card-body">
                        <div class="navbar-nav ml-auto">
                            {{ render_form(form) }}
                        </div>
                        <hr>
                        <small>已经注册了账户？ <a href="{{ url_for('student.login_student') }}">点击此处登录</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}