{% extends 'student/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Select Course - Student{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card mb-3 w-100 bg-light">
                <div class="card-header">
                    <h4>Please select the course:</h4>
                    <p>(course name - lecturer - course introduction)</p>
                </div>
                {% for course in courses %}
                    <div class="card-body">
                        {% if course.student_is_joined(student) %}
                            <a class="dead-link"
                               href="{{ url_for('student.view_list', course_name=course.name) }}">
                                <img src="{{ url_for('student.get_avatar', filename=course.avatar_s) }}">
                                {{ course.name }} - {{ course.lecturer_name }} - {{ course.intro }}
                            </a>
                            <hr/>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}