{% extends 'student/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}选择课程 - 学生{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card mb-3 w-100 bg-light">
                <div class="card-header">
                    <h4>请选择课程：</h4>
                    <p>(课程名称 - 讲师名 - 课程介绍)</p>
                </div>
                {% if student.courses.count() !=0 %}
                    {% for course in courses %}
                        <div class="card-body">
                            {% if course.student_is_joined(student) %}
                                <a class="dead-link"
                                   href="{{ url_for('student.view_list', course_name=course.name) }}">
                                    <img src="{{ url_for('student.get_avatar', filename=course.avatar_s) }}">
                                    {{ course.name }} - {{ course.lecturer_name }} - {{ course.intro }}
                                </a>
                                <hr/>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="tip">
                        <h3>请加入一个课程。</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}