{% extends 'student/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}查看 - {{ course.name }} 作业 - 学生{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h3>作业列表：</h3>
            <h4>(标题 - 起始时间 - 截止日期)</h4>
            {% for homework in homework_group %}
                <a class="dead-link"
                   href="{{ url_for('student.view_homework', course_name=course.name,homework_title=homework.title) }}">
                    <span class="oi oi-calendar"></span> {{ homework.title }}
                    - {{ moment(homework.timestamp).format('LL') }}
                    - {{ moment(homework.deadline).format('LL') }}
                </a>
                {% if homework.is_answered(student) %}
                    <span class="oi oi-check"></span>
                {% else %}
                    <span class="oi oi-x"></span>
                {% endif %}
                <br \>
            {% endfor %}
        </div>
    </div>
{% endblock %}