{% extends 'student/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}View - {{ course.name }} - Student{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <a>
                <img src="{{ url_for('student.get_avatar', filename=course.avatar_l) }}" class="rounded img-fluid">
            </a>
        </div>
        <div class="col-md-9">
            <h1>{{ course.name }}</h1>
            <h3>{{ course.lecturer_name }}</h3>
            <h4><small class="text-muted">{{ course.intro }}</small></h4>
            <div class="float-right">
                {% if course.student_is_joined(student) %}
                    <form class="inline" method="post"
                          action="{{ url_for('student.quit_course', course_name=course.name, next=request.full_path) }}">
                        <button type="submit" class="btn btn-outline-dark btn-group-sm">Quit</button>
                    </form>
                {% else %}
                    <form class="inline" method="post"
                          action="{{ url_for('student.join_course', course_name=course.name, next=request.full_path) }}">
                        <button type="submit" class="btn btn-outline-dark btn-group-sm">Join</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
