{% extends 'student/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}View / Answer - {{ homework.title }} - Student{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h3>{{ homework.title }}:</h3>
            <h5>{{ homework.description | safe }}</h5>
            <hr/>
            {% if homework.is_answered(student) %}
                <h3>Your answer:</h3>
                <p>{{ answer.body | safe }}</p>
                <hr/>
                <h3>The correction result:</h3>
                {% if answer.is_corrected() %}
                    <h4>Assistant remark:</h4>
                    <p>{{ correct.body | safe }}</p>
                    <h4>Your grade:</h4>
                    <p>{{ correct.grade }}</p>
                {% else %}
                    <div class="tip">
                        <h3>Not corrected yet!</h3>
                        <h3>Please wait the assistant to correct your answer.</h3>
                    </div>
                {% endif %}
            {% else %}
                {{ render_form(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ ckeditor.load() }}
{% endblock %}