{% extends 'student/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}查看 / 答题 - {{ homework.title }} - 学生{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h3>{{ homework.title }}:</h3>
            <h5>{{ homework.description | safe }}</h5>
            <hr/>
            {% if homework.is_answered(student) %}
                <h3>你的答案：</h3>
                <p>{{ answer.body | safe }}</p>
                <hr/>
                <h3>批改结果：</h3>
                {% if answer.is_corrected() %}
                    <h4>助教评语：</h4>
                    <p>{{ correct.body | safe }}</p>
                    <h4>你的成绩：</h4>
                    <p>{{ correct.grade }}</p>
                {% else %}
                    <div class="tip">
                        <h3>未评改！</h3>
                        <h3>请等待助教批改作业。</h3>
                    </div>
                {% endif %}
            {% else %}
                {{ render_form(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ ckeditor.load() }}
{% endblock %}